# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GameJam2021.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Dev\GameJam2021\GameJam\GameJam2021\GameJam2021\.idea\.idea.GameJam2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
